<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="DataSendingFromWear.DataSendingFromWear" android:installLocation="auto">
	<uses-sdk />
  
	<uses-feature android:name="android.hardware.type.watch" />
	<uses-permission android:name="android.permission.BODY_SENSORS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  
	<application android:label="DataSendingFromWear" android:theme="@android:style/Theme.DeviceDefault">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>